<template>
    <div class="refresh">
        <button @click="refreshPage">
            <slot>Refresh</slot>
        </button>
    </div>
    
</template>

<script>
export default {
    methods: {
        refreshPage() {
            window.location.reload();
        }
    }
};
</script>

<style>

.refresh {
    text-align: center;
    margin-top: 5px;
    margin-bottom: 20px;
}


</style>
