<template>
    <div class="footer-container">
        <slot></slot>
</div>
</template>

<script>
export default {
    name: 'Footer',
}
</script>

<style>
.footer-container {
    position: relative;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: #fff;
    color: #090909;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
}
</style>
