<template>
    <div>
        <h2>Are you sure you want to log out?</h2>
        <button @click="logout">Log out</button>
</div>
</template>

<script>
export default {
    name: 'Logout',
    methods: {
        logout() {
            console.log('Logging out...');
            // perform logout page
            // redirect to other page (login??)
            this.$router.push('/login');
        },
    },
};
</script>
