<template>
    <div class="container">
        <header class="header">
            <div class="header-left">
                <img src="@/assets/kira_logo.png" alt="logo" style="width: 150px; height: auto;">
            </div>
            <div class="header-right">
                <div class="header-item">
                    <img src="@/assets/setting.png" alt="logo" style="width: 20px; height: auto;">
                </div>
                <div class="header-item">
                    <router-link to="/Logout">
                        <img src="@/assets/logout.png" alt="logo" style="width: 20px; height: auto;">
                    </router-link>
                </div>
            </div>
        </header>
        <table class="users-table">
            <thead>
                <tr>
                    <th></th>
                    <th>Full Name</th>
                    <th>Gender</th>
                    <th>Country</th>
                    <th>Email</th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="(user, index) in displayedUsers" :key="index" @click="showPopup(user)">
                    <td>
                        <img :src="user.picture.medium" class="avatar">
                    </td>
                    <!--<td>{{ user.registered.date }}</td> -->
                    <td>{{ user.name.first }} {{ user.name.last }}</td>
                    <td>{{ user.gender }}</td>
                    <td>{{ user.location.country }}</td>
                    <td>{{ user.email }}</td>
                </tr>
            </tbody>
        </table>
        <div class="refresh-container">
            <button @click="refreshUsers">Refresh</button>
        </div>
<!--         <div>
                    <ButtonComponent>Refresh</ButtonComponent>
        </div> -->
        <div>
            <Footer>
                <p>© Kiratech 2023</p>
            </Footer>
        </div>
        <div class="popup" v-if="selectedUser">
            <div class="popup-content">
                <h3>{{ selectedUser.name.first }} {{ selectedUser.name.last }}</h3>
                <p>Gender: {{ selectedUser.gender }}</p>
                <p>Country: {{ selectedUser.location.country }}</p>
                <p>Email: {{ selectedUser.email }}</p>
                <button @click="selectedUser = null">Close</button>
            </div>
        </div>
        <router-view></router-view>
</div>
</template>

<script setup>
/* importing Vue.js library */
import { ref, onMounted, computed } from 'vue';
/* importing axios to make HTTP requests. */
import axios from 'axios';

/* creating reactive variables initialized to empty arrays, and null*/
//const users = ref([]);
const displayedUsers = ref([]);
const selectedUser = ref(null);

/* 7 users to display */
const maxUsersToDisplay = computed(() => 7);

/* making an HTTP GET request, assign random user objects to response.data.results */
const refreshUsers = async () => {
    const response = await axios.get('https://randomuser.me/api/?results=20');
    //users.value = response.data.results;
    displayedUsers.value = response.data.results.slice(0, maxUsersToDisplay.value);
};

/* when a user is selected display in a popup */
const showPopup = (user) => {
    selectedUser.value = user;
};

/* load the initial set of users */
onMounted(() => {
    refreshUsers();
});



</script>

<script>
import Footer from './components/Footer.vue';
// import ButtonComponent from './components/Button.vue';
import { createRouter, createWebHistory } from 'vue-router';
import Logout from './components/Logout.vue';


const routes = [
    {
        path: '/logout',
        name: 'Logout',
        component: Logout,
    },
];

const router = createRouter({
    history: createWebHistory(),
    routes,
});

export default {

    name: 'App',
    components: {
        Footer,
        // ButtonComponent,
    },
    router,
};
</script>

<style>
.container {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.users-table {
    width: 100%;
    border-collapse: collapse;
    font-family: Arial, sans-serif;
    color: #444;
    margin: 2em 0;
}

.users-table th,
.users-table td {
    padding: 0.5em;
    border: 1px solid #ccc;
}

.users-table th {
    background-color: #f8f8f8;
    font-weight: bold;
}

.users-table tr:nth-child(even) {
    background-color: #f2f2f2;
}

.users-table tr:hover {
    background-color: #ddd;
}

.avatar {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    
}

.header-left {
    display: flex;
    align-items: center;
}

.header-right {
    display: flex;
    align-items: center;
}

.header-item {
    margin-left: 20px;
}

.refresh-container {
    text-align: center;
    margin-top: 5px;
    margin-bottom: 20px;
}

.popup {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
}

.popup-content {
    background-color: white;
    padding: 20px;
    border-radius: 4px;
    text-align: center;
}

button {
    padding: 10px 20px;
    background-color: #35BAD8;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
</style>
